@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
font-family: 'Cereal';
font-style: normal;
font-weight: 100;
src: url('fonts/AirbnbCerealBook.woff');
}


@font-face {
font-family: 'Cereal';
font-style: normal;
font-weight: 200;
src: url('fonts/AirbnbCerealLight.woff');
}


@font-face {
font-family: 'Cereal';
font-style: normal;
font-weight: 400;
src: url('fonts/AirbnbCerealMedium.woff');
}


@font-face {
font-family: 'Cereal';
font-style: normal;
font-weight: 600;
src: url('fonts/AirbnbCerealBold.woff');
}


@font-face {
font-family: 'Cereal';
font-style: normal;
font-weight: 700;
src: url('fonts/AirbnbCerealExtraBold.woff');
}


@font-face {
font-family: 'Cereal';
font-style: normal;
font-weight: 800;
src: url('fonts/AirbnbCerealBlack.woff');
}


